# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Editor / IDE
.vscode/
*.code-workspace

# PowerShell
*.log

# Local exports (future versions)
*.csv
*.html

# Screenshots
screenshots/*
!screenshots/.gitkeep
!screenshots/*.png
